.shop-container {
	padding-top: 100px;
	padding-bottom: 100px;
	width: inherit;
}
.tabbar_item {
	background-color: red;
}
.tabbar_container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}

.item_img {
	border-bottom: 3px solid #ff2020;
	overflow: hidden;
	margin-bottom: 19px;
	position: relative;
}
.popular-items .single_items .popular-img img {
	width: 100%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
h4 {
	font-weight: 800;
	padding: 0;
	margin: 0;
}
h5 {
	color: white;
}

.img_cap {
	position: absolute;
	bottom: 0;
	height: 0;
	opacity: 0;
	width: 100%;
	transition: height 0.5s, opacity 1s;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}
.item_img:hover .img_cap {
	height: 50px;
	opacity: 1;
	background-color: #ff2020;
	align-items: center;
	justify-content: center;
	color: white;
	padding-top: 15px;
}
.item_caption {
	display: flex;
	flex-direction: column;
}
.shop_method_container {
	margin-top: 100px;
	padding: 15px;
	justify-content: space-between;
	align-items: center;
	background-color: #ff2020;
	font-family: 'Roboto', sans-serif;
}
.button-container-box-shadow {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.button-container-box-shadow:hover {
	transform: scale(1.01);
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.service-box-shadow {
	-webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.31);
	box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.31);
	border-radius: 5px;
}
.filter-panel-shadow {
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.14);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.14);
}
.gradient-background {
	/* background: rgb(252, 253, 254);
	background: linear-gradient(
		90deg,
		rgba(252, 253, 254, 1) 0%,
		rgba(242, 250, 255, 1) 33%,
		rgba(255, 255, 255, 1) 65%,
		rgba(230, 239, 241, 1) 100%
	); */
	background: #e3f2fd66;
}
button:focus {
	outline: none;
}
@media (min-width: 992px) {
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: scale(1.05);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	0% {
		transform: scale(1.05);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: scale(1.1);
		-webkit-opacity: 1;
	}
	0% {
		-webkit-transform: scale(1);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}
.custom-radio-button {
	width: 26px;
	height: 26px;
	border-radius: 13px;
}
.custom-radio-button:focus,
.custom-radio-button:active {
	outline: none;
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}
